div {
    width: 200px;
    height: 100px;
    border: 2px solid black;
    border-radius: 40%;
    display: inline-block;
}

.couleur1 {
    background-color: red;
}

.couleur2 {
    background-color: blue;
}

.couleur3 {
    background-color: yellow;
}

.couleur4 {
    background-color: green;
}